
.navbar {
  overflow: hidden;
  background-color: #333;
  padding: 50px auto;
  
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  color: rgb(230, 233, 237);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 233, 237);
  color: rgb(0, 0, 7);
  width: 100%;
}
section{
  height:max-content;
}

#titleSec{
  width: 100vw;
  /* height: calc(100vh-50px); */
  height: 95vh;
  background-image: url('Picture1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* display: table; */
}
#textCenter{
  /* display: table-cell; */
  /* vertical-align:text-top; */
  padding: 5px;
  
}
#titleSec h2{
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  /* font-family: sans-serif; */
  text-shadow: 2px 2px 8px #111;
}
#titleSec h3{
  font-size: 28px;
  font-weight: 100;
  color:lime;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 2px 2px 100px #111;
}

li{
    list-style-type: none;
}

#grid-container {
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  background-color: beige;
  /* padding: 5px; */
  display: flex;

}
#grid-item {
  background-color: rgba(234, 236, 231);
  /* border: 0.5px solid beige; */
  padding: 15px;
  font-size: 12px;
  text-align: left;
  margin: 1rem;
  width: auto;
  height: auto;
  flex-wrap: wrap;
}
#grid-item div i{
  /* background-color: beige; */
  font-size: 38px;
  padding: 5px;
}
.material-icons{
  color: red;
}
#grid-item #cardIcon{
  /* color: red; */
  text-align: center;
}
#cardIcon i{
  font-size: 38px;
}
#grid-item h3, #feature2 h3{
  color: red;
  text-align: left;
}
#grid-item:hover, #ourWork:hover{
  background-color: black;
  color: red;
}
#quickLinks a{
  text-decoration: none;
}
#footerEnlarge{
  overflow: hidden;
}
#footerEnlarge a:hover{
  color: red;
} 

#footerNote{
  /* position: fixed;
  bottom: 0px;
  right:0px; */
  float: right;
}

#sfooterNote{
  display: none;
}


/* footer{
    background-color: #333;
    color: #ddd;
} */
/* #feature2{
  width: 300px;
  height: 400px;
  display:flex;
  
}
#feauture2 div{
  flex: 33%;
} */
/* </style> */


/* Services Page Begins*/
/* #ipservices div{
  height: 100vh;
  display: none;
} */
#ipservices div h3{
  display: block;
  font-size: 50px;
  font-weight: 600;
  margin: 0 100px;
  padding:0 100px;
  width: calc(100% - 200px);
  /* width:max-content; */
  color: #111;
  text-align: center;
  
  /* background-color: rgb(219, 226, 226); */

}
#ipservices div li{
  display: block;
  font-size: 24px;
  font-weight: 100;
  color: #111;
  text-align: left;
  margin: 0 200px;
  padding:0 100px;
  /* width: calc(100% - 200px); */
  

}

/* Services Page ends */

/* For Desktop View */
@media screen and (min-width: 1024px) {
  #grid-item {
    /* height:auto; */
    width: 260px;
    height: 230px;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) 
and (max-device-width: 1024px) {
  /* .gfg-div {
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  } */
  #grid-item {
    /* height: max-content; */
    /* width: 260px;
    height: 230px;
    display:block;
    overflow-wrap:normal; */

    #grid-row {
      display: grid !important;
      grid-template-columns: auto auto;
      padding: 5px;
  }
  
  /* Designing all grid-items */
  .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      /* border: 1px solid black; */
      padding: 20px;
      font-size: 30px;
      text-align: center;
  }
  

  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
and (orientation: portrait) {
  /* .gfg-div {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  } */
  #grid-item {
    /* height: max-content; */
    width: 260px;
    height: 230px;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) 
and (orientation: landscape) {
  /* .gfg-div {
    width: 400px;
    height: 200px;
    background-color: cyan;
    color: black;
  } */
  #grid-item {
    /* height: max-content; */
    width: 260px;
    height: 230px;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  /* .gfg-div {
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    color: black;
  } */
  #grid-item {
    /* height: max-content; */
    width: 260px;
    height: 230px;
  }
}